.sliding-text-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sliding-text-container h2  {
  font-family: var(--font-base);
  color: var(--color-blue);
  letter-spacing: 0.04em;
  line-height: 29.9px;
  font-size: 20px;
}

.vacancies-btn_mobile {
  margin-top: 1rem;
}

.sliding-text {
  white-space: nowrap;
  animation: slide 10s linear;
  margin-top: 0.3rem;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(-100%);
  }
}



@media screen and (max-width: 1150px) {
  .app__header {
    padding: 4rem;
  }

  .header-content img {
    width: 400px;
    margin-bottom: 2rem;
  }

}

@media screen and (max-width: 850px) {

  .sliding-text-container h2  {
    font-size: 17px;
  }

}

@media screen and (max-width:650px) {
  
  .sliding-text {
    animation: slide 15s linear;
  }
}